{
  "scriptId": "1D_EtgBeEcmtTqyJIhDLt2E5fxfUZEpuIkQJhkCjOiGXAeADm2aYPhVyH",
  "rootDir": "apps-script/week-3",
  "scriptExtensions": [".js", ".gs"],
  "htmlExtensions": [".html"],
  "jsonExtensions": [".json"],
  "skipSubdirectories": false
}
